[package]
name = "swap"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
soroban-sdk = { version = "20.0.0", features = ["alloc"] }

[profile.release]
opt-level = "z"
lto = true
strip = "symbols"
panic = "abort"
